.custom-register-container{
    background-image: url(../../assets/register_image.jpg);
}
.register-container {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 400px; 
    margin: auto; 
}
.register-text{
    color: white;
}
.custom-input-styles-register{
    color:black;
}
.success-message{
    color:'green';
}